[submodule "Other/libs/FSOMonoGame"]
	path = Other/libs/FSOMonoGame
	url = https://github.com/bodkinlabs/tsomonogame.git
[submodule "Other/libs/FSOMina.NET"]
	path = Other/libs/FSOMina.NET
	url = https://github.com/bodkinlabs/tsomina.net.git
