^Comprar Casa?^
^Você tem certeza que deseja comprar esta casa?^

^Desculpe!^
^Esta familia não pode pagar esta casa.^

^Parabéns!^
^Voce Comprou esta Casa.^

^Comprar Lote?^
^Você deseja comprar este Lote?^

^Comprar Pre-Pronta?^
^Você deseja comprar uma casa Pre-Pronta?^

^Desculpe^
^Você deve primeiro colocar esta familia em uma casa^

^Espaço Comunitario^
^Voce não pode colocar uma familia em um espaço comunitario.^

^Casa Ocupada^
^Esta Casa esta ocupada por outra família.^

^Casa de Tutorial^
^Este e uma Casa de tutorial.  Famílias não podem ser movidas .^

^Erro!^
^Não foi possivel mover!^

^Casa Cheia^
^Esta Casa esta cheia demais para voce entrar neste momento.^