^Descer um Andar^
^Subir um Andar^
^Telhado^
^Girar para Esquerda^
^Girar para Direita^
^Mais Zoom^
^Menos Zoom^
^Com Paredes^
^Paredes Cortadas^
^Sem Paredes^
^Modo Simulação - F1^
^Modo Compra - F2^
^Modo Construção - F3^
^Menu de Opções - F5^
^Fundos^
^^
^^
^^
^^
^^
^Contagem de Amigos^

^AM^
^PM^

^Ajuda^
