^(10;75)^		// position of flat button, in subpanel coords
^Telhado Plano de Altura^	// tooltip

^(10;51)^		// position of shallow button, in subpanel coords
^Telhado Superficial de Altura^	// tooltip

^(10;26)^		// position of medium button, in subpanel coords
^Telhado Médio de Altura^	// tooltip

^(10;-4)^		// position of steep button, in subpanel coords
^Telhado Íngreme de Altura^	// tooltip


^(58;26)^		// position of left page, in subpanel coords
^Página Anterior^	// tooltip

^(254;26)^		// position of right page, in subpanel coords, in 800x600 mode
^(437;26)^		// position of right page, in subpanel coords, in 1024x768 mode
^Próxima Página^	// tooltip

^(74;3)^		// top left of first roof pattern, in subpanel coords

^Altura do Telhado^
^A Altura (inclinação) do telhado pode ser modificado. As opções incluem plana, superficial, média e íngreme. Experimente com diferentes coberturas e veja qual se adapta melhor ao seu lote. Não há custo para telhados.^

^Padrões de Telhado^
^Um padrão de telhado será aplicado à sua propriedade assim que você clicar em um padrão no painel de controle.^

^(10;91)^
^Telhado Plano de Altura^

