^Telhas não podem ser modificadas^
^A altitude já está o mais alta o possível^
^A altitude está o mais baixa o possível^
^Este objeto requer uma superfície plana^
^Não se pode dividir um objeto multi-telha^
^Fundos Insuficientes^
^Deve ser em primeira historia^
