^The Sims Online^
^Sair^
^Tem certeza que deseja sair?^
^Salvar^
^Deseja salvar o Jogo?^
^Sair^
^Deseja salvar antes de sair?^
^Resetar Tutorial^
^Você deseja sair do tutorial? A Família atual será despejada.^
^O tutorial não foi resetado.^
^Um erro foi encontrado durante a exportação do HTML^
^Exportar HTML^
^Um erro foi encontrado durante a exportação da família.^
^Exportar Família^
^Foi encontrado um erro ao salvar a casa.^
^Salvar Casa^
^Alguns objetos na propriedade não foram carregados.^
^Carregando Objetos!^
^A propriedade não pode ser carregada.^
^Carregar propriedade^
^O Diretório não pode ser encontrado.^
^Erro Fatal!!^
^Carregando Texturas!^
^As seguintes texturas não foram carregadas. Os Sims podem não aparecer.^
^Erro no modo de espera^
^Modo de espera não esta disponível durante o jogo.^
^O jogo está sendo fechado^