^Página Anterior^
^Próxima Página^
^Fundos insuficientes^
^Sem Descrição^
^Maxis ™ é uma marca da Electronic Arts ™.^
^(c) 2002, 2003 Electronic Arts Inc. Todos os direitos reservados.^
^Mais compatível com: ^
^Menos compatível com: ^
^Desativar Dicas rápidas?^
^Dicas rápidas permitem que as janelas pop-up no painel de controle aparecam sem pausa ou exigindo um clique do mouse . Agora que você está mais familiarizado com o jogo você gostaria de desligar as Dicas rápidas?^
^^ was 'The Sims Version 1.0'
^Versão^
^Avaliação de Casa^
^^ was 'Friend Rating'
^^ was 'Job Rating'
^Mood Rating^
^^ was 'School'
^Erro Interno: %ld^

