^Iniciando Aplicativos^
^Registrando Recursos^
^Mudando Controles^
^Inicializando Gráficos^
^Expulsando Sims Bravos^
^Dando Simoleons aos Pobres^
^Ajustando Carreiras^
^Suprindo Necessidades^
^Reticulando^
^Baixando Reticulos Reticulados^
^Ajustando o Humor dos Sims^
^Ajustando Personalidade^
^Fazendo perfil no SimsLove^
^Terminando Aplicativos^
^Controlando o Caos^
^Carregando Sims^
^Mudando Objetos^
