^O Jogo não pode ser iniciado: ^
^DirectX 7 é necessário. Ele Não foi encontrado.^
^Erro Fatal!^
^O Jogo necessita de um Processador pentium (ou equivalente), ou Melhor. Nenhum foi encontrado.^
^As cores devem ser ajustadas para 16 bits (high color).^
^Sistema Operacional não compativel. Necessario Windows 98, XP ou ME.^
^A Resoluçao da tela e muito baixa. Defina para 800x600, 1024x768, ou Superior.^
^The Sims Online já esta em execução!^
^A placa de vídeo não suporta milhares de cores.^
^Sair.^
^Não há memória suficiente ou espaço no disco rígido para executar.^
^The Sims Online não suporta a alteração de resolução da tela enquanto o jogo está sendo executado. O jogo deve ser fechado agora^
^The Sims Online não suporta a alteração de resolução da tela enquanto o jogo está sendo executado. O jogo deve ser fechado agora .^
^Não Suportado!^
