^Não há ações disponíveis.^
^Só pode ser usado por Adultos^
^Só pode ser usado por Crianças^
^Só pode ser usado por Cachorros^
^Só pode ser usado por Gatos^
^Só pode ser usado por Animais^
^Só pode ser usado por Pessoa^
^Só pode ser usado por Auto-Animais^
^O Sim está carregando algo^
^%s - (Ignorando Você)^
^Colega de Quarto - %s^
^Proprietário - %s^
^Colega de Quarto - %s - (Ignorando Você)^
^Proprietário - %s - (Ignorando Você)^
^%s está deixando o lote^
^Pessoa^
^O objeto está pendente para exclusão, pois o proprietário dele se mudou daqui^
^Sim ocupado...^
^%s - (Você está ignorando este Sim)^
^Colega de Quarto - %s - (Você está ignorando este Sim)^
^Proprietário - %s - (Você está ignorando este Sim)^
^A categoria desta propriedade não permite interações com este objeto^
^Preço Original: %s
Preço de Venda: %s^
^Selecione no Modo Compra para informações de Compra^
^Este objeto está temporariamente desativado^
^Desligado^
^Manutenção do proprietário necessária
^A transação de compra ainda não está completa^
