^Fome: %d^
^Conforto: %d^
^Higiene: %d^
^Banheiro: %d^
^Energia: %d^
^Diversão: %d^
^Ambiente: %d^
^+ Culinária^
^+ Mecânica^
^+ Lógica^
^+ Físico^
^+ Criatividade^
^+ Carisma^
^ ^
^ ^
^Só pode ser usado por crianças^
^Atividade em Grupo^
