1 ^Sair ou Fazer Logout do Jogo^
2 ^Nome^
3 ^Descrição^
4 ^Criar Um Novo Sim^
5 ^Deletar Este Sim^
6 ^Clique aqui para ir à cidade^
7 ^Clique aqui para ir à cidade e entrar em sua propriedade^
8 ^Desconhecido^
9 ^Deletar Sim^
10 ^Se você deletar este Sim, irá perder todo o seu dinheiro, objetos, amigos, propriedades, etc. Deseja continuar?^
11 ^Clique aqui para entrar na cidade^
12 ^Clique aqui para criar um novo Sim^
13 ^Entrar no Jogo^
14 ^Descrição^
15 ^Subir^
16 ^Descer^
17 ^Seus Sims: Com Qual Você Quer Jogar?^
18 ^%.2d:%.2d^
19 ^Time Out Warning^
20 ^You have less than %d minutes to select or create a new Sim. You will be taken back to the login screen when the counter expires...^
21 ^You now have less than %d minutes to select or create a new Sim. You will be taken back to the login screen when the counter expires...^
22 ^Erro ao deletar Sim^
23 ^ -- Sims só podem ser deletados após 7 dias.^
24 ^Esta cidade está offline no momento.^
25 ^Desculpe, esta cidade está superlotada no momento. Por favor, tente novamente mais tarde!^
26 ^Créditos^
27 ^Free Will^
28 ^Ver ou Criar Sims em "Free Will"^