1  ^Anterior^
2  ^Próximo^
3  ^Estar^
4  ^Superfícies^
5  ^Decoração^
6  ^Entretenimento^
7  ^Eletrodomésticos^
8  ^Objetos de Habilidade e Trabalho^
9  ^Iluminação^
10 ^Diversos^
11 ^Sala^
12 ^Sala de Jantar^
13 ^Quarto^
14 ^Sala de Estudo^
15 ^Cozinha^
16 ^Banheiro^
17 ^Jardim^
18 ^Inventário^
19 ^Não é possível colocar objetos nesta propriedade sendo um visitante, você só pode vender objetos de seu inventário.^
20 ^MapBuildingMode^
21 ^Animais de Estimação^
22 ^Você não pode colocar este objeto na propriedade, pois ele já esta nela! Para resolver este problema, saia e entre no lote.^
23 ^Você não pode colocar este objeto sendo um Fantasma!^