1 ^Informações da Propriedade^
2 ^Status da Propriedade^
3 ^Colegas de Quarto^
4 ^Registros de Atividades^
5 ^Lista de Sims Permitidos/Banidos desta Propriedade^
6 ^Configurações de Ambiente^
7 ^Contas^
8 ^Gerenciar Tamanho do Lote^
