1  ^Colegas de Quarto:^
2  ^Permissão de Construção^
3  ^Desmarque esta caixa para remover a permissão de construção^
4  ^Marque esta caixa para conceder permissão de construção^
5  ^Salvar^
6  ^Desculpe, seus privilégios foram removidos pelo Proprietário!^
7  ^Privilégios^
