1  ^Estatísticas da Propriedade:^
2  ^Metros Quadrados:^
3  ^Quartos:^
4  ^Banheiros:^
5  ^Pisos:^
6  ^Tamanho do Lote:^
7  ^Tamanho^
8  ^Objetos^
9  ^Quintal^
10 ^Manutenção^
11 ^Layout^
12 ^Pequeno^
13 ^Médio^
14 ^Grande^