1 ^Digite uma sequência numérica (1-9 dígitos). Este código será utilizado como senha na porta.^
2 ^Taxa para Passar^
3 ^Isentos:^
4 ^Amigos^
5 ^Funcionários^
6 ^Defina quais Sims terão acesso à esta porta^
7 ^Colegas de Quarto^
8 ^Visitantes^
9 ^Permissões da Porta^
10 ^Pagar para Passar^
11 ^Inserir Código para Passar^
12 ^Código Secreto^
13 ^Custo^
14 ^Encerrar^
15 ^Carregando...^
16 ^$^
