1  ^Sims Favoritados^
2  ^Ignorados^
3  ^Página do Sim^
4  ^Deletar Favorito^
5  ^Enviar Mensagem^
6  ^Fechar^
7  ^Subir^
8  ^Descer^
9  ^Deseja adicionar esse novo amigo aos os seus favoritos?^
10 ^Você fez um amigo!^
11 ^Remover da lista de ignorados^
12 ^Não se pode desfavoritar Colegas de Quarto^
13 ^Colegas de Quarto são sempre favoritados.^
