1  ^Tamanho do Lote^
2  ^%dx%d Pisos^
3  ^Custo para Melhorar: $%d^
4  ^Imposto: %d.^
5  ^%d^
6  ^Maior^
7  ^Menor^
8  ^Aceitar^
9  ^Colegas Necessários: %d^
10 ^Falta de Colegas: $%d^
11 ^Custo Total: $%d^
