 1 ^Anchovas^
 2 ^Queijo^
 3 ^Massa^
 4 ^Cogumelos^
 5 ^Pepperoni^
 6 ^Molho^
 7 ^Precisa de um ingrediente^

 8 ^Grande ^
 9 ^Médio(a) ^
10 ^Pequeno(a) ^

11 ^Físico: ^
12 ^Culinária: ^
13 ^Carisma: ^

14 ^Precisa de um Sim^

15 ^São necessários quatro Sims.^
16 ^Aguardando uma ligação...^
17 ^Fazendo um pedido...^
18 ^Cada Sim deve adicionar um ingrediente.^
19 ^Ingredientes indo em...^
20 ^Assando a pizza...^
21 ^Sua pizza é uma destruição carbonizada!^
22 ^Bom trabalho! Uma pizza de sucesso!^
23 ^Mama-mia! Uma pizza suprema!^