1 ^Adicionar este Sim na lista de banidos de sua Propriedade.^
2 ^Adicionar este Sim na sua lista de ignorados.^
3 ^Você exotou com sucesso "%s" para fora de sua propriedade. Gostaria de bani-lo ou ignorá-lo?^
4 ^Banir ou Ignorar Um Sim^
5 ^Este jogador foi adicionado a sua lista de banidos. Você precisará ativar a lista de banidos no Menu da Propriedade para que o banimento entre em vigor.^
6 ^Informações do Banimento^
