1 ^Dançar essa Música^
2 ^Fechar^
3 ^De Ladinho^
4 ^No Ônibus^
5 ^Onda^
6 ^Soco Bate^
7 ^Vibrando^
8 ^Boogie^
9 ^Apontando^
10 ^Giro Misturado^
11 ^No Impulso^
12 ^Apontando Pra Lá^
13 ^O Macaco^
14 ^Estilo Livre^
15 ^Por Aí Na Loja^
16 ^Rhumba^
17 ^Hula^
18 ^Giro Hula-Hula^
19 ^No Dedo Do Calcanhar^
20 ^Girando e Passando^
21 ^Fugidinha^
22 ^Calcanhares Pra Fora^
23 ^O Zumbi^
24 ^O Robô^
25 ^Hiper Giro^
26 ^Moonwalk^
