1 ^Sims na Propriedade: %d^
2 ^Deixando Propriedade^
3 ^Você está prestes a sair do lote em que está. Deseja continuar?^
4 ^Online^
5 ^Offline^
6 ^Controle Parental^
7 ^Categoria da Propriedade^
8 ^Você está prestes a mudar a categoria desta propriedade. Uma nova categoria terá características diferentes para se desfrutar, talvez você tenha objetos especiais que não poderão ser usados ​​na nova categoria. Todo e qualquer bônus de visitantes que você acumulou hoje serão perdidos.
Velha - %s
Nova - %s
Você não poderá alterar a categoria novamente por aproximadamente %d dia(s). Deseja continuar?^
9 ^Categoria alterada com sucesso!
Velha - %s 
Nova - %s 
A nova categoria entrará em vigor na próxima vez em que o seu lote estiver aberto. Você não poderá alterar a categoria novamente por %d dia(s).^
10 ^Esta mensagem foi enviada em nome do líder da sua casa.  
A Categoria de sua propriedade foi mudada.
Velha - %s 
Nova - %s
A nova categoria estará em vigor na próxima vez que o seu lote estiver aberto. ^
11 ^(Seu Colega de Quarto(s) será notificado em seu nome.)^
12 ^Você está prestes a sair desta propriedade para viajar à uma longa distância. Você poderá estar cansado após este passeio.
Quer continuar?^
13 ^Você está prestes a viajar à uma longa distância. Você poderá estar cansado após este passeio.
Quer continuar?^
14 ^Viagem de Longa Distância^
