1 ^Redimensionamento Falhou^
2 ^Você tem construções ou objetos fora da área edificável. Você deve mover ou excluir objetos e construções que estarão na área não-edificável.^
3 ^Você não pode pagar por isso.^
4 ^Você precisa de pelo menos %d Colegas de Quarto para aumentar a propriedade para este tamanho.^
5 ^Há atualmente apenas %d companheiro.^
6 ^Existem atualmente apenas %d companheiro(s).^
