1  ^Você possui novas mensagens!^
2  ^Você recebeu uma nova mensagem em sua caixa de entrada. Gostaria de lê-la agora?^
3  ^Você recebeu %d novas mensagens em sua caixa de entrada. Você gostaria de lê-las agora?^
4  ^Desculpa. Eu não posso responder agora. Minha caixa de entrada está cheia.^
