1 ^Introduzir Palavra:^
2 ^Ativar Filtro Profanico^
3 ^Adicionar Palavra^
4 ^Remover Palavra^
5 ^Entrada de Palavra^
6 ^Ativar Filtro^
7 ^A Senha Está Incorreta.^
8 ^Senha Incorreta^
9 ^O Filtro Profanico está atualmente bloqueado e não pode ser desbloqueado no jogo. Se você quiser alterar o bloqueio, por favor acessar WWW.EA.COM e alterar esta configuração para sua conta.^
10 ^Filtro Profanico está bloqueado.^
11 ^Cor Atual:^
12 ^Escolher Proxíma Cor^
13 ^Escolher Cor Anterior^
14 ^<SomeColor>^