1 ^Norte^
2 ^Sul^
3 ^Leste^
4 ^Oeste^
5 ^Esperando por jogadores de Lógica^
6 ^Esperando por jogadores de Carisma^
7 ^Pagamento^
8 ^Pagamento Total: $%d^
9 ^Você Perdeu^
10 ^Parabéns!^
11 ^Desculpe, Tente Novamente!^
12 ^Base: $%d
Penalidade: -$%d
Pagamento Total: $%d^
