1 ^A^
2 ^B^
3 ^C^
4 ^Correto:^
5 ^Ganho:^
6 ^Esperando por três letras...^
7 ^Checando os resultados...^
8 ^/3 Dessas letras estão corretas.^
9 ^Correto!^
10 ^Pagamento pelo Puzzle:^
11 ^Pagamento pela Habilidade:^
12 ^Total:^
13 ^Carta^
14 ^São necessários três Sims.^
15 ^Última suposição^
16 ^Físico: ^
17 ^Mecânica: ^
18 ^Lógica: ^
