// city description strings
1 ^Considerada uma terra para aqueles que possuem um espírito brincalhão, nós encorajamos todos os Sims que estão a busca por diversão para sentirem o calor de Blazing Falls! Quilômetros e quilômetros de praias tropicais quentes, com um punhado de ilhas caríssimas, que por mais que pareçam inatingíveis, estão bem ao alcance de seus simoleons, nesta terra maravilhosa! Construa sua humilde moradia ou um luxuoso hotel a beira do mar, ou se quiser uma mudança de ritmo, experimente passear pelas ensolaradas florestas tropicais.

Uma multidão de paraísos, todos reunidos em uma única cidade! Quem não gostaria de chama-la de “Terra dos Sonhos”?^

2 ^Se você se considera um Sim industrial, a boa vida começa em Alphaville! Venha fazer da bela Alphaville sua casa, onde você pode aquecer seus pés em nossas praias arenosas ou refrescar-se em nossas montanhas cobertas de neve. Os lindos oceanos azuis e lagos convidam você a entrar em nosso mundo de esplendor sazonal.

Se você está procurando por um refúgio alpino ou um bangalô no litoral, Alphaville é a escolha ideal.^ 

3 ^Bem-vindo a Test Center, onde você pode escolher viver com total imprevisibilidade! É onde as mais novas tecnologias são experimentadas e testadas!^

4 ^Se deseja satisfazer o romântico que vive em você, construa seu ninho em Interhogan! Construa sua cabine no topo das montanhas cobertas de neve, ou seu barraco de grama nas áreas mais baixas. Simplesmente nada pode dar errado ao escolher imóveis neste paraíso exuberante de tranquilidade. Aprecie a vida junto ao lago ou comece sua agradável plantação em meio às planícies cobertas de grama. Viva e trabalhe no colo de luxo na bela e romântica Interhogan!^

5 ^Arquitetos e Cientistas pousaram suas âncoras e escolheram chamar Ocean's Edge de seu refúgio! Otimas paisagens destacam este país das maravilhas tropical. Se você gosta de sol, mar e areia, este é o lugar para você. Crystal Blue e uma area destacada onde ha a água quente e contra a costa fornecendo as possibilidades de negocios à beira-mar. isso é perfeito para qualquer um,  Ocean's Edge também tem uma ajuda graciosa de colinas, campos verdes gramados e até mesmo um toque de pó branco gelado, para o proprietário rural. Mergulhe na beleza artística de Ocean's Edge!^ 

6 ^"Nós estamos muito melhor em West Jerome" é o slogan desta cidade humilde da indústria, e os habitantes não poderiam estar mais certo! rios e lagos plácidos, pastagens que brilham como a esmeralda. Todos Descansam e curtem enquanto outros se aquecem ao sol de East Jerome! (Não é associado de alguma forma com o West Jerome.)^

7 ^Junte-se ao manancial de riqueza e beleza em Fancey Fields. Viva a vida com tudo que podemos oferecer. Olhe para as belas praias, a bela água, a bela paisagem, as pessoas bonitas. Cerque-se com uma bela propriedade e preencha com coisas belas. Como o fundador de Fancey Fields, Lee Fancey, disse uma vez: "A vida pode ser bonita se você forçar constantemente alimentar-se da beleza." Bonita. Simplesmente linda.^

8 ^Espere o inesperado em Betaville, a cidade onde há inovação e surpresas. Os nossos cidadãos têm mente própria, e eles não têm medo de mostrá-las! Seja no trabalho ou no lazer, você sempre vai encontrar alguém para acompanhá-lo nesta metrópole densamente povoada. Ninguém é Ninguém para a empresa em Betaville!^

9 ^Charvatia é o lar de muitas pessoas excêntricas e criativas. Capture a essência tropical de Charvatia em seu bangalô. Inspire-se com o pôr do sol que queima nas pequenas ilhas,e compõem a sua nova casa em Charvatia! Escolha uma propriedade na borda externa da lagoa coral e veja a beira da ressaca! Ou resida no centro tranquilo, onde suas águas plácidas são protegidas pelo recife de barreira! Charvatia, doce Charvatia - Ela decide o seu destino final!^

10 ^A doce canção de ninar das ondas quebrando nas praias arenosas encantam esta terra cheia de misterios. Amigos rurais afirmam e testemunham o espírito que cativa os corações dos habitantes. Se você segurar suas esperanças, se esforçar para alcançar seus sonhos, e acreditar que nada é impossível, venha para Dragon’s Cove. Mas esteja avisado: Como um sábio certa vez disse: "Não se intrometa em casos de dragões, porque você é crocante e fica melhor com ketchup!"^

11 ^Venha, desfrutar de uma vida rústica em Rancho Rizzo! Prepare-se olhar e aproveitar essas áreas no estilo de rancho. Conquiste sua liberdade em meio a desertos e planícies abertas. Delimitando unicamente por 2 costas para o nordeste e sudoeste, Rancho Rizzo tem muito para todos que procuram esse estilo de vida, forasteiro. Reivindique um lote de terra e chame Rancho Rizzo de sua casa.^

12 ^Bem-vindo a "Ilha de um bilhão e meio de Lagos", bonita, rústica é Zavadaville! Se você prefere o oceano de água salgada ou lagos de água doce, Zavadaville tem algo para você! Antiga mina de sal e de grandes fazendas, Zavadaville é considerada a area de maior importação e exportação das indústrias! A abundância de propriedades à beira-mar destaca este belo, oásis. Se Dinheiro ea vida rústica é o que você deseja, Zavadaville é para você!^

13 ^Todos saudem a região gloriosa que os historiadores se referem como Queen Margaret! Nunca você verá uma cidade mais bonita do que esta,Cheia de admiração e prazer visual, esta área é rica em tradição e história. Diz a lenda que a primeira colônia de Sims estabelecida foi ao longo das margens do rio Ng, que atravessa as paisagens. Maravilhe-se com os picos cobertos de neve onde a aura serena é forte. Se você é da familia real ou de linhagem comum, Queen Margaret é o lugar para você!^

14 ^Bem-vindo à paisagem futurista de Shannopolis! Grandes futuristas escolheram se reunir nesta paisagem multi-terreno da cidade maravilhosa. Molde seu ninho da forma que quiser nas montanhas cobertas de neve da Polar Peaks, ou curta sua praia favorita. Águas cristalinas e praias de areia se juntam para formar algumas das areas mais procuradas do mapa. Faça o seu futuro agora em Shannopolis!^

15 ^Nenhuma outra cidade pode se orgulhar de sua diversidade cultural como Grantley Grove! Quem é você para resistir ao charme eo apelo de Grantley Grove? Claro, você pode ter amigos que vivem em outro lugar, mas entre nós,sabemos que eles desejam que viver em Grantley Grove. Onde mais você poderia aproveitar a neve, sol e surfar tudo no mesmo local? Encante-se com a beleza do litoral, tornar-se encantado no esplendor impressionante de Pixel Peak, em seguida, ria da desgraça daqueles que não vivem aqui.^

16 ^Bem-vindo a romântica Calvin’s Creek! Toneladas de ribeiros privilegiados, E Diversos Imóveis neste paraíso de tranquilidade. Se você gosta de água fria e campos gramados verdejantes, Calvin’s Creek é o lugar para você fazer a sua casa. praias de areia branca são a especialidade aqui. Imagine um quarto com vista oceânica e,grama verdejante a vista. Isso tudo pode ser seu em Calvin’s Creek.^

17 ^Billabong representa totalmente a Australia... um espírito pioneiro, camaradagem,ambiente descontraído, estilo de vida descontraído. É um tipo de lugar que você tem que ir para dizer G'Day, e assim ficar por la. Se você procura fazer fortuna, construa um império ou simplesmente se reuna com companheiros de uma boa empresa,Billabong é o lugar para você. Então, lute pelo seus ganhos, traga alguns amigos e agite até doer. Aposte, Dançe, esqueça o ritmo frenético do mundo exterior, e simplesmente desfrute de algumas hospitalidades desta grande area. Todos são bem vindos em The Billabong!^

18 ^Faça a sua casa futurista no meio dos pico enevoados de Mount Fuji! Se você é um morador criativo ou um eremita Visionário, há uma abundância de imóveis prime para você começar a sua casa do futuro. Desenvolva seu rancho inovador ou agrupe-se seus pertences e experiências de ponta em uma casa high-tech. Seja qual for a sua temporada de preferência, seus ideais serão encontrados e bem vistos na revolucionária Mount Fuji!^

19 ^Se você deseja o estilo de vida rústico, escolha a vida saudável de Dan’s Grove. Esta área,e extremamente frutífera para plantações e árvores, é considerado agora um dos lugares mais desejáveis em toda a Terra Sim. Somando a atração da cidade e o seu clima moderado,Aqui é perfeito. Construa o seu ninho em Dan’s Grove!^

20 ^Conhecida por seus otimos lugares para entretenimento, Jolly Pines deixa todo mundo rindo e faz sims verem como a vida pode ser maravilhosa! Junte-Se a diversão através da construção de sua casa dos sonhos ou jogue em algum espaço mais feliz na Terra! Você deve estar atento para escolher seu lote de terra pois ha muitos, muitos lugares bonitos. Decida sobre sua localidade, construa a sua casa, faça alguns amigos, e você vai estar rindo!^

21 ^Bem-vindo à bela histórica Yatesport! Uma vez que ela era lar de fábricas de sardinha e de mineração no mar, Yatesport é hoje o lar de fábricas de atum e de perfuração calamitosa! Se você deseja o estilo de vida tropical sereno, ou o estilo de vida de trabalhador, Yatesport tem algo para você! Pontilhada com mini ilhas paradisíacas e exuberantes colinas verdes, Yatesport é uma pequena cidade com atitude de grande cidade! Junte-se à agitação da vida cotidiana, ou deixe tudo para trás... tudo sem sair Yatesport!^

22 ^Desfrute de todos os lazeres da vida do lago, menos os mosquitos, em Landry Lakes! Já se sentiu como ficar longe de tudo? Bem, agora é sua chance de se juntar a dezenas de milhares de pessoas que se sentem exatamente da mesma maneira! Você conhece o velho ditado que proclama que a grama é sempre mais verde do outro lado da cerca? Bem, este é o outro lado da cerca! Desfrute a solidão tranquila de Landry Lakes com seus lotes e lotes de seus melhores amigos! Landry lakes, onde a recreação é rei!^

23 ^Colinas de água azul esverdeada e gelada pode ser seu entorno neste paraíso de lazer! Um clima moderado e quente, e exuberante,deste grande paraíso é tudo que você precisa. A abundância de propriedades litorais e à beira do lago estão disponíveis. Prefere os espaços abertos? A Costa de Nichol tem uma abundância disto. Construa a casa dos seus sonhos. Viva no Paraiso!^

24 ^Os historiadores e os mestres da história fazem um apelo importante "A terra que o tempo não pode esquecer '. Classificado por "incontestavelmente, o melhor lugar para viver na Revista Universo" como: incontestavelmente, o melhor lugar para viver no Universo, King Canyons só poderia ser o lugar para você! Curve-se diante do esplendor impressionante dos rios e como eles são majestosamente lindos. Construa sua propriedade na Divindade Delta ou na Herdade de Plains of Unquestionable Greatness. Torne-se o rei do seu próprio castelo na terra de King Canyons.^

25 ^Viva a vida na ilha com diversão em Virginia Islands. Tome banhos de sol nas praias de areia branca ou subir na crista nevada de McArthur Peak. Construa o seu paraíso neste exuberante, paraíso que parece fantasia. A abundância do mar à beira do rio torna qualquer propriedade desejável. Venha! Faça dessas férias sua casa permanente! Virginia Islands te aguardam!^

26 ^ Você vai se sentir como se você tivesse entrado na terra da fantasia nos arredores tranquilos de Pixie Point. Veja os picos, planícies e o grande paraíso que esse lugar é,Pise descalço nas terras altas cobertas de neve das colinas de Ica ou aqueça seu corpo e alma em uma Praia poeirosa. Assuma o controle de seu destino! Produza o campo de jogos dos seus sonhos em Pixie Point!^

27 ^Entre no mundo de fantasia de West Darrington. Os anciãos afirmam que West Darrington foi uma terra de gigantes e dragões. É também ha rumores de que West Darrington já foi o local culminante do lendário,Gnomo de Ouro. Quem somos nós para discutir? Viva a vida de lendas e folclore através da construção de seu refúgio aqui em West Darrington. Veja os Wizards of Dondlefinger sorrir amavelmente em cima de você, e as fadas de Chesterburg acariciá-lo com suas asas de seda. Ou, pelo menos, que os anões de Terror nunca roubem a alma de tranquilidade que reside em paz dentro de sua nova casa!^

28 ^Upper Shankelston é o paraíso do lazer! Localizado ao norte de Down Shankelston, Upper Shankelston coloca o principal na Diversão! Os moradores desta incrível cidade vivem para o entretenimento! Venha, adicione mais diversão a sua vida, precipícios nevados, colinas verdes e praias raras tornam essa area venha para o local de encontro para diversão, diversão, diversão!^

29 ^Bem, nós estamos vivendo aqui em Albertstown. todas as fábricas ja faliram, e que diferença isso fez! Quando uma área de indústria se torna obsoleta, Albertstown se torna um país das maravilhas extremamente seguro,com história e tradição. Se você gosta de fazer uma viagem de volta no tempo para ver como a vida era vivida em uma era sem industrias, talvez Albertstown é o lugar para você! O que antes era uma cidade cinza,agora é um paraíso verde e azul. Se você é um fã de história, ou se você só gosta de belos lugares, faça a sua casa no Albertstown.^

30 ^Terra Tablante foi feito para românticos como você! Apaixone-se do tudo novo quando ha nas colinas verdes, a água azul de pó e os picos cobertos de neve da Terra Tablante. Moradores aqui adoram o ambiente sereno, os lagos tranquilos e as praias de areia branca. Quem não vive na Terra Tablante não é um ser amado. Abra seu coração e construa o seu ninho de amor na Terra Tablante.^
