1  ^CSR Ferramenta^
2  ^Ejetar^
3  ^Nome do Lote^	
4  ^Avatares Selecionados^
5  ^Lote Inteiro^
6  ^Avatares^
7  ^Mensagem Para Players^
8  ^Nota de Log^
9  ^Prevenir não-CSR entrada^
10 ^OK^
11 ^Cancelar^
12 ^Marque esta caixa se você quiser impedir que jogadores não-CSR entrem neste lote até que você saia.^

