1  ^Não Mostrar Mais Dicas^
2  ^Dica^
3  ^Você poderá criar e manter até três Sims diferentes para lhe representár em The Sims Online, mas você só pode jogar com um de cada vez. Clique em um dos "Criar um novo sim" para começar a criar o sim do seu jeito.^
4  ^Dica^
5  ^Antes de criar seu primeiro Sim, escolha onde você gostaria que este Sim viva. Seu Sim irá viver a vida inteira na cidade que você escolher. Se você está pensando em jogar com seus amigos, pergunte a eles em qual cidade o Sim deles residem para que você possa criar um Sim naquela cidade também. Cada cidade pode ter milhares de residentes e podem se desenvolver em comunidades únicas, dependendo dos Sims que lá vivem. As regras de jogo são as mesmas para todas as cidades, então você pode querer escolher uma cidade que parece interessante para você. Se você quiser saber mais sobre cada cidade individualmente, explore TheSimsOnline.com.^
6  ^Dica^
7  ^Crie um alter-ego que o represente em The Sims Online. Você pode ter até três Sims, mas você só pode jogar com um de cada vez. O Nome ea cabeça que você selecionar aqui será permanente e será a identidade que outros jogadores irão te identificar. Você será somente capaz de trocar de roupa utilizando racks e editando seu perfil depois.^
8  ^Dica^
9  ^Bem-vindo à sua nova cidade! Explore o mundo para ter idéia de que tipos de lugares e que pessoas estão aqui. Os Neons no mapa indicam onde os outros jogadores estão agora. Ative o filtro "Lotes Populares com Categoria Bem-Vindo" para ver aonde alguns dos Neons de boas-vindas estão. Esses locais são de propriedade de pessoas que optaram por se especializar para ajudar novos jogadores. Escolha um que soa interessante para visitar.^
10 ^Dica^
11 ^Ok, agora você entrou em um lote é ai que a ação começa. Para conversar com outros Sims, basta pressionar Enter para começar a digitar,e Enter novamente para enviar a mensagem. Para interagir com outros sims, clique sobre eles para ver um menu de opções. Para fazer o seu Sim fazer uma interação, clique em si mesmo. Quando estiver pronto para deixar esta propriedade e ir para outra, é só usar os controles de zoom para voltar para voltar para o bairro ou mapa. Seu Sim vai ficar no lote e desaparecera do lote. Ou escolha "Sair do Lote" usando a cabine de telefone que se localiza na entrada!^
12 ^Dica^
13 ^Quando você comprar um lote,ele virá com o espaço limitado. Quanto mais Colegas de Quarto você tiver, mais você podera expandir o tamanho do lote sem penalidade.^
14 ^Dica^
15 ^A página de propriedades permite que você aprenda mais sobre uma propriedade e o que ela retrata antes de entrar. Clique na imagem do Sim na página de propriedades para saber mais sobre os sims que estão atualmente no lote. (A Miniatura cinzenta significa que um Colega de Quarto não está online.) Para entrar na propriedade, basta clicar na seta grande.^
16 ^Dica^
17 ^Comprador cuidado: qualquer Colega de Quarto pode excluir construção, independentemente de quem a colocou. Isto aplica-se a tudo no modo de construção: paredes, portas, janelas, árvores, lareiras, etc ... Se um Colega de Quarto tirar seu papel de parede, você não vai obter um reembolso. 
Para aprender a utilizar qualquer uma das ferramentas de construção, clique na miniatura das ferramentas e mantenha o cursor sobre ela para abrir um painel de ajuda.^
18 ^Dica^
19 ^Se o seu fundo monetario ser baixo, você não será capaz de iniciar rapidamente um Sim nesta cidade. Verifique se você realmente esta empenhado para coordenar este Sim e entenda você vai precisar de dinheiro para (por exemplo, compra de objetos) antes de dar dinheiro para alguém. A menos que você está certo sobre este Sim, não de qualquer quantia significativa de dinheiro. Ele ou ela pode apenas estar tentando aplicar um golpe em você. Esteja certo de quem você confia o suficiente para dar o seu dinheiro.^
20 ^Dica^
21 ^Se você tem o controles de pais ativado, você vai precisar marcar cada Sim antes que você possa ver o bate-papo uns dos outros. Para marcar alguém, clique em sua foto para abrir o seu Perfil Sim, e depois escolha a opção marcador. Uma vez que seu responsavel digitar a senha, você e esse Sim poderão conversar afastado. Quando você estiver pronto para sair desta propriedade e ir para outra, é só usar os controles de zoom para voltar para o bairro ou mapa. Seu Sim vai ficar no lote e desaparecera. Ou escolha "Sair do Lote" usando a cabine de telefone que esta na entrada do lote!^
22 ^Dica^
23 ^Para aprender a utilizar qualquer uma das ferramentas de cosntrução, clique na miniatura da ferramenta e mantenha o cursor sobre ela para abrir um painel de ajuda.^
24 ^Dica^
25 ^Cada objeto comprado sera de propriedade de um colega de quarto específico. Quando você está no modo comprar, você pode clicar em cada objeto para ver quem é o dono. Você pode mover objetos do seu Colega de Quarto, mas você não podera excluí-los. Se você se mudar para uma nova propriedade, os objetos irão com você.^
26 ^Dica^
27 ^Onde estão todas as pessoas? Eles estão nas propriedades que tenham um Neon destacado no mapa.^
28 ^Dica^
29 ^Ao sair de uma propriedade através dos controles de zoom, o seu Sim ainda estara lá, e esta janela lhe da uma visão do que está acontecendo lá. Para retornar para a propriedade, clique na janela, e você irá retornar imediatamente. Isto permite-lhe sair para ver o mapa sem perder o seu lugar.^
30 ^Dica^
31 ^Clique no guia para escolher se deseja procurar um Sim ou Propriedade. Se você sabe o nome do Sim ou da propriedade *exatamente*, escolha Correspondência Exata. Caso contrário, faça uma pesquisa simples. Lembre-se que você só pode encontrar Sims e propriedades que residem na sua cidade.^
32 ^Dica^
33 ^Parece que você precisa de dinheiro... e rapidamente! Ative o filtro "Lotes Populares com Categoria Dinehiro" e escolha um lugar para começar a fazer dinheiro. Pergunte às pessoas que estiverem lá para ajudar.^
34 ^Dica^
35 ^Sua necessídade social esta em um mundo de dor! Encontre uma propriedade cheia de pessoas para fazê-la subir rapidamente. Ou, se preferir experimente um ambiente mais calmo, participe de um objeto em grupo ou troque algumas interações sociais com um outro Sim.^
36 ^Dica^
37 ^Quando estiver pronto para deixar esta propriedade e ir para outra, é só usar os controles de zoom para voltar para o bairro ou mapa. Seu Sim vai ficar no lote e desaparecera. Ou escolha "Sair do Lote" usando a cabine de telefone logo na entrada do lote!^
38 ^Dica^
39 ^Ótimo. Você tem seu primeiro visitante. Sabia que você é pago pela quantidade de tempo que as pessoas gastam em sua propriedade? A Cada noite a quantidade de tempo que as pessoas gastarem em seu lote é calculado, e se for acima de um determinado índice, você terá um pagamento diário: quanto mais tempo, mais bônus. Se você tem colegas de quarto, cada companheiro vai receber o valor integral do bônus!^
40 ^Dica^
41 ^Este objeto irá lhe permitir ganhar dinheiro. Você pode usar esses objetos sozinho; no entanto, você ira aumentar a quantidade de dinheiro que você ganha ao trabalhar com outras pessoas. Se você está perto de outras pessoas que estão trabalhando no mesmo objeto ou semelhante, todos irão ganhar mais dinheiro. Quanto mais as pessoas que trabalharem com você, mais dinheiro todo mundo ganha. Além disso, quanto maior a sua habilidade, mais dinheiro você ganhará. Há muitos tipos diferentes de objetos de trabalho individuais, e cada um deles tem requisitos específicos de uma habilidade para aumentar o seu pagamento. Para ganhar dinheiro mais rápido, procure objetos de trabalho em grupo. Você vai encontrá-los no filtro "Melhores Objetos de Trabalho" na vista da cidade.^
42 ^Dica^
43 ^A página do Sim é o primeiro lugar para ir, se você quer saber mais sobre outro Sim. Por exemplo, você pode enviar-lhes uma mensagem, Marca-los, ignorá-los, descobrir a idade do sim, suas habilidades ou onde vivem. Você pode abrir a página do Sim de um jogador, clicando sobre sua foto em qualquer lugar do jogo.^
44 ^Dica^
45 ^Bom trabalho! Esse ponto em criatividade irá aumentar o seu potencial de ganhos em "Forno de Pizzas" Cozinha Profissional, o "Tripé" Dobravel Diamante e Machinograph do Scrivener.^
46 ^Bom trabalho! Esse ponto em lógica irá aumentar o seu potencial de ganhos no Sistema de Logica da CopraInterCO, na Unidade de Núcleos da PorterCorp, O "Mini Laboratório Estação Ciencia", ea Lousa da QED.^
47 ^Bom trabalho! Esse ponto em mecânica irá aumentar o seu potencial de ganhos na Unidade de Núcleos da PorterCorp, e tambem na Mesa de Marcenaria Faça Você Mesmo,assim como reduzir os custos na hora de reparar.^
48 ^Bom trabalho! Esse ponto em carisma irá aumentar o seu potencial de ganhos no Sistema de Logica da CopraInterCO, no "Forno de Pizzas" Cozinha Profissional e no Sistema de Telemarketing.^
49 ^Bom trabalho! Esse ponto em físico irá aumentar o seu potencial de ganhos na Unidade de Núcleos da PorterCorp, no "Forno de Pizzas" Cozinha Profissional e na Pinhata.^
50 ^Bom trabalho! Esse ponto em cúlinária irá aumentar o seu potencial de ganhos no "Forno de Pizzas" Cozinha Profissional e no Centro de Enlatados Caseiros Boggs.^
51 ^Dica^
52 ^Você acabou de aumentar sua posição social para este Sim. Eles terão de fazer um amigo para que você se mova nas fileiras sociais também. Até que você ganhe mais amizades, você só pode declarar até três amigos, para escolher quem você dá a sua amizade seletivamente.^
53 ^Como jogar^
54 ^Bem-vindo as industriais Heckhol Golem Fabricações! Seu trabalho é produzir robôs movidos a carvão de alta tecnologia. Ative cada estação de trabalho ao longo da linha de montagem para permitir que o robô avançe.

Estas estações de trabalho foram construídas a partir de latas de refrigerante, pneus velhos e peças de geladeira, parece que elas tendem a quebrar. Você irá ver quando isso ocorre, porque a luz na parte superior começa a piscar. Quando isso acontecer, use sua habilidade lógica para diagnosticar o problema e saber qual ferramenta irá corrigir a estação de trabalho. Scamper é um armário de ferramentas para obter a ferramenta certa, e voltar para a estação. Agora, use sua habilidade de mecânica para repará-la.

Seu humor irá desempenhar o fator em saber se você terá sucesso ou falhar. Só para você saber.

Ir ao Scamper e correr pode ser um pouco ineficiente para uma pessoa fazer por conta própria. Felizmente, você tem alguns colegas de trabalho para te ajudar. Tente se especializar em tarefas diferentes para ver o que funciona melhor.

Você é pago por cada robô que você completa. Boa sorte!^
55 ^Bem-vindo ao Lunchatorium da Nate, mestre em servir almoços com as mesmas grades autênticas desde 1932! Seu trabalho é de esperar visitas de Sims, melhorar seu humor, e levá-los para um caminho.

Quando um Sim entra no restaurante, eles irão sentar. Uma vez que estão sentados, você podera ir e anotar pedido. Você vai receber um bilhete. Entregar esse bilhete para o P.O.S. registrar (que é "Point of Sale", em caso de duvídas), Os cozinheiros na cozinha irão automaticamente receber o pedido - isto é, se eles não estão com preguiça. Se eles não forem, de um empurrãozinho para pegá-los e começar novamente.

Enquanto isso, você pode interagir com os clientes para melhorar o seu humor. Sims felizes dão grandes gorjetas, mas não abuse da sorte. Se você incomodar as pessoas (ou ignorá-las), eles estarão propensas a sair sem pagar.

Lembre-se, todo bom almoço começa com "lunchatorium"! Isso éo Lunchatorium da Nate, convenientemente localizado ao lado do Hospital Geral de SimCity.^
56 ^Bem-vindo ao Tiki Lounge do Trader Jimmy, onde a elite se encontra ao mover os pés ao som da batida. Aqui na boate, ou você é um DJ ou um dançarino que irá tentar seduzir Sims a agitar seus pés e dançar a noite toda.

Como DJ, você poderá utilizar o nosso Technofrobicon Estatuto-da-arte 2000 Girador que irá misturar a música para agitar os sims. Basta selecionar uma faixa de cada instrumento. É como perfurar uma picareta em uma jukebox.

Como Dançarino, sua performance e agitação do giro vai levar a alegria, fascínio e admiração. Em outras palavras, suba no Dance-O-Matic e "agitar até doer." Assim que chegar na plataforma, você será capaz de selecionar um vasto repertório. No entanto, não basta repetir o mesmo movimento muitas vezes. Isso não ira adiantar para conduzir a multidão.

Cada DJ e dançarino deve trabalhar como uma equipe. Você terá que medir o humor do público para descobrir o que funciona eo que não funciona. O DJ está à procura de uma perfeita mistura de samples e batidas por rodada, enquanto o dançarino está tentando encontrar três movimentos que irão fazer os Sims agitár.

A equipe mais popular recebe mais dinheiro. Junte-se com um bom trabalhador para pagamentos abundantes!^

