1  ^Progresso de Conexão^
2  ^Progresso Geral^
3  ^Progresso Atual^

# Login Steps to enter a city

4  ^Iniciando Mecanismos^                 		 # City is Selected...
5  ^Conversando com a Nave-Mãe^     			 # Connecting to City Selector...
6  ^Mapeando Informações^ 						 # Processing XML response...
7  ^Esterilizando Sockets TCP/IP^   		     # Connecting to City...
8  ^Sockets Esterelizados^          		     # Connection Established...
9  ^Reticulando Melancolia^           		     # Asking for Avatar data from DB...
10 ^Melancolia Reticulada^         			     # Received Avatar data from DB...
11 ^Purgando Métricas Psicográficas^ 		     # Asking for Character data from DB...
12 ^Métricas Purgadas^              		     # Received Character data from DB...
13 ^Pressurizando a Rede^            			 # Asking for Relationships data from DB...
14 ^Rede Pressurizada^             				 # Received Relationships data from DB...
15 ^Alinhando Agendas Sociais^       			 # Asking for Reversed Relationships data from DB...
16 ^Agendas Alinhadas^             			     # Received Reversed Relationships data from DB...
17 ^Preparando Cartografia^        			     # Loading City map...