1 ^Categorias^
2 ^Cancelar^
3 ^Dinheiro: Necessidades: Difíceis. Objetos Especiais: Trabalhos em Grupo^
4 ^Lúdico: Necessidades: Fácil^
5 ^Romance: Necessidades: Fácil. Objetos Especiais: Cama Vibratória^
6 ^Serviços: Necessidades: Médias. Ganho de Necessidade: Rápido. Objetos Especiais: Cama Vibratória e Bancada de Trabalho^
7 ^Lojas: Necessidades: Médias^
8 ^Habilidades: Necessidades: Difíceis. Ganho de Habilidades: Rápido^
9 ^Boas-Vindas: Necessidades: Fácil^
10 ^Jogos: Necessidades: Fácil^
11 ^Entretenimento: Necessidades: Fácil. Objetos Especiais: Cabine de DJ e Pista de Dança^
12 ^Residência: Necessidades: Médias. Objetos Especiais: Cama Vibratória^
13 ^Sem Categoria^
14 ^Vizinhanças^
