1 ^Mensagem de Teste da Banda^
2 ^Dó^
3 ^Ré^
4 ^Mi^
5 ^Fá^
6 ^Sol^
7 ^Lá^
8 ^Si^
9 ^Dó^
10 ^Rock Ligado^
11 ^Liquidado^
12 ^BZZZZ^
13 ^Continuar ou Retirar^
14 ^Habilidade Total: %d.%02d    Ganhou Atualmente: $%d^
15 ^A Sequência é...^
16 ^Entre a Sequência.^
17 ^Sucesso! Todos os colegas serão pagos^
18 ^Nota Zumbida! Reiniciando Música!^
19 ^Esperando Por Outros Jogadores^
20 ^Desculpe, %s, nota errada!^
21 ^Carisma^
22 ^Físico^
23 ^Criatividade^
24 ^Criatividade^
25 ^Carisma: %d.%02d^
26 ^Físico: %d.%02d^
27 ^Criatividade: %d.%02d^
28 ^Criatividade: %d.%02d^
29 ^Tempo Esgotado!  Reiniciando Música!^
