1 ^Clique aqui para puxar a alavanca!^
2 ^Aposta Atual^
3 ^Aumentar aposta^
4 ^Diminuir aposta^
5 ^Fechar^
6 ^Carregando...^
7 ^Defina a probabilidade^
8 ^Casa^
9 ^Jogador^
10 ^Clique para sacar^
11 ^Dinheiro na máquina^
12 ^Probabilidades atuais^
13 ^Ligar Máquina^
14 ^Desligar Máquina^
15 ^Tabela de Pagamento Viva PGT^
16 ^Tabela de Pagamentos Rainha Cigana^
17 ^Tabela de Pagamento Valete de Copas^
18 ^Faça sua aposta e puxe a alavanca!^
19 ^Puxe a alavanca para jogar^
20 ^Ligar/Desligar^
21 ^Sua aposta: $%i^
22 ^Fechado para Manutenção^
23 ^Por favor, jogue em outra máquina^
24 ^Gerenciar Máquina^
25 ^Outro vencedor! Você ganhou $%i!^
26 ^A sorte está do seu lado! Você ganhou $%i!^
27 ^Parabéns! Você ganhou $%i!^
28 ^Você é um vencedor! Você ganhou $%i!^
29 ^O destino sorri pra você! Ganhou $%i!^
30 ^Desculpe, tente novamente.^
31 ^Mais sorte da próxima vez!^
32 ^Não desista, sua sorte vai voltar!^
33 ^Sua má sorte não vai durar pra sempre!^
34 ^Tente novamente, você pode ganhar!^
35 ^Qualquer^
36 ^%i X aposta^
