1  ^Façam suas apostas...^
2  ^Negociando.^
3  ^Sua Vez.^
4  ^ está na vez.^
5  ^ está na vez.^
6  ^Hit^
7  ^Stand^
8  ^Split^
9  ^Dobrar Aposta^
10 ^Após esta rodada, a mesa será fechada.^
11 ^Você ganhou $%d.^
12 ^%s ganharam $%d.^
13 ^Você gostaria de comprar um seguro?^
14 ^Colocar Aposta^
15 ^Adicionar $%d à aposta^
16 ^Aposta Total: ^
