1  ^Provar item selecionado^
2  ^Comprar item selecionado^
3  ^Nome do Cabide^
4  ^Preço do Item^
5  ^Comprar Item^
6  ^Ótima escolha! Deseja vesti-la agora?^
7  ^Examinando Roupas no Cabide...^
8  ^Esta roupa não é para o seu sexo.^
9  ^Você não pode pagar por este item.^
10 ^Você nao tem mais espaço em seu inventário.^