1  ^Excluir a roupa selecionada^
2  ^Estocar cabide com o item selecionado^
3  ^Catálogo Masculino^
4  ^Catálogo Feminino^
5  ^Definir Nome do Cabide^
6  ^Definir Preço de Item^
7  ^Adicionar Item^
8  ^Deseja estocar seu Cabide com este item?^
9  ^Delete Item^
10 ^Deseja remover este item de seu Cabide?^
11  ^Desculpe, você não pode dar o luxo de estocar seu Rack com este Item.^
12  ^Não há mais espaço neste Rack.^
13  ^Você não pode se dar o luxo de adicionar esse item.^
14  ^Estocar este item vai lhe custar $^