1  ^Excluir o item selecionado de seu Guarda-Roupas^
2  ^Vestir item selecionado^
3  ^Roupas Casuais^
4  ^Trajes de Banho^
5  ^Pijamas^
6  ^Definir como roupa padrão nesta categoria^
7  ^Deletar item^
8  ^Você realmente quer excluir este item? Não será possível recuperá-lo!^
9  ^Chapéus^
10 ^Costas^ 
11 ^Sapatos^
12 ^Caudas^
