1  ^Categoria Desconhecida^
2  ^Categoria Desconhecida^
3  ^Categoria Desconhecida^
4  ^Categoria Desconhecida^
5  ^Categoria Desconhecida^
6  ^Categoria Desconhecida^
7  ^Categoria Desconhecida^
8  ^Categoria Desconhecida^
9  ^Sem Categoria^
10 ^Diversos^
11 ^Jogador usando seu objeto^
12 ^Objeto Que Você Usou^
13 ^Fraudando^
14 ^Diversos^
15 ^Recarga ou Manutenção de Objetos^
16 ^Objeto Que Você Usou^
17 ^Jogador para Jogador^
18 ^Jogador Usando Seu Objeto^
19 ^Objeto Que Você Usou^
20 ^Jogador Usando Seu Objeto^
21 ^Objeto Que Você Usou^
22 ^Jogador Usando Seu Objeto^
23 ^Objeto Que Você Usou^
24 ^Jogador Usando Seu Objeto^
25 ^Objeto Que Você Usou^
26 ^Jogador Usando Seu Objeto^
27 ^Objeto Que Você Usou^
28 ^Jogador Usando Seu Objeto^
29 ^Objeto Que Você Usou^
30 ^Jogador Usando Seu Objeto^
31 ^Objeto Que Você Usou^
32 ^Jogador Usando Seu Objeto^
33 ^Objeto Que Você Usou^
34 ^Taxa do Serviço Pessoal^
35 ^Taxa do Jardineiro^
36 ^Taxa da Empregada^
37 ^Taxa do Reparador^
38 ^Taxa do Mordomo^
39 ^Salários^
40 ^Salários da Fábrica de Robôs^
41 ^Salários do Restaurante^
42 ^Salários do Clube^