1 ^Você não pode começar a trabalhar!^
2 ^A procura de emprego não conseguiu encontrar um trabalho para seu tipo.^
3 ^A procura de emprego não conseguiu encontrar informações de emprego sobre o seu Sim.^
4 ^A Procura de Emprego não conseguiu encontrar um lote de trabalho que precisa de seus serviços.^
5 ^A Procura de Emprego não conseguiu criar um bloqueio importante em seu trabalho.^
6 ^A Construção da estrada está te impedindo de ir para o trabalho . Além disso, a ponte está perigosa . Gnomos temíveis tomaram conta da passagem, e proibiu qualquer pessoa de passar. Você Pode tentar ir em um lote de trabalho em poucos minutos , mas os nossos prognósticos de tráfego certificados não irão garantir que a situação vai melhorar durante o dia.^
7 ^A Procura de Emprego não conseguiu criar e ativar o seu trabalho.^ 
8 ^A Procura de Emprego falhou ao adicioná-lo à lista de empregados.^
9 ^Obrigado por visitar este lote de trabalho. Infelizmente, você não tem o tipo adequado para trabalhar aqui. Você pode ficar e assistir, ou ir para outro local.^
10 ^Obrigado por visitar este lote de trabalho. Infelizmente, você não tem um cargo apropriado para trabalhar aqui. Você pode ficar e assistir, ou ir para outro local.^
11 ^Obrigado por visitar este lote de trabalho. Infelizmente, temos trabalhadores suficientes por enquanto. Você pode esperar iniciar outro rodada, ou ir para outro local.^
12 ^Obrigado por visitar este lote de trabalho. Infelizmente, um de nossos funcionários está ignorando você. Você pode ficar e assistir, ou ir para outro local.^
13 ^Obrigado por visitar este lote de trabalho. Infelizmente, você não será capaz de trabalhar aqui. Você pode ficar e assistir, ou ir para outro local.^
14 ^Pedido de emprego negado^