// kTSOAssetStringFWebControls
1 ^Maximo de Ligações que Ganhou^
2 ^Voltar para último Sim^
3 ^Fechar Relacionamentos^
4 ^Web Center no seu Cartão Sim^
5 ^Amigos^
6 ^Inimigos^
7 ^^
8 ^^
9 ^1^
10 ^2^
11 ^3^
12 ^4^
13 ^5^
14 ^6^
15 ^7^
16 ^8^
17 ^Mudar para Página 1^
18 ^Mudar para Página 2^
19 ^Mudar para Página 3^
20 ^Mudar para Página 4^
21 ^Mudar para Página 5^
22 ^Mudar para Página 6^
23 ^Mudar para Página 7^
24 ^Mudar para Página 8^
25 ^Ver amizades recebidas^
26 ^Ver suas amizades^
27 ^Amizades Recebidas:^
28 ^O que os outros Sims acham sobre você^
29 ^Suas amizades:^
30 ^O que você acha sobre os outros Sims^
31 ^Durante a vida:^
32 ^Diariamente:^
33 ^Atualizar Sim Atual^
