Runaway pet letters

1 ^Nós recentemente capturamos "%s", um gato em fuga que pertence a você. Vimos a condição da pobre criatura, e supomos que você tenha sido um dono horrível!  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
2 ^Nós recentemente capturamos "%s", um cachorro em fuga que pertence a você. Vimos a condição da pobre criatura, e supomos que você tenha sido um dono horrível!  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
3 ^Nós recentemente capturamos "%s", um gato em fuga que pertence a você. O gato tinha fugido devido à fome extrema.  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
4 ^Nós recentemente capturamos "%s", um cachorro em fuga que pertence a você. O cão tinha fugido devido à fome extrema.  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
5 ^Nós recentemente capturamos "%s", um gato em fuga que pertence a você. O gato tinha fugido devido à negligência social extrema.  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
6 ^Nós recentemente capturamos "%s", um cachorro em fuga que pertence a você. O cão tinha fugido devido à negligência social extrema.  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
7 ^Nós recentemente capturamos "%s", um gato em fuga que pertence a você. O gato tinha fugido devido a falta de diversão.  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
8 ^Nós recentemente capturamos "%s", um cachorro em fuga que pertence a você. O cão tinha fugido devido a falta de diversão.  "%s" será adotado por um Sim mais consciente. Por favor, cuide melhor de seus animais de estimação no futuro. Alimentando regularmente, dando carinho e fazendo brincadeiras, isso é tudo o que seu amigo peludo realmente precisa.^
9 ^Gatinho sem nome^
10 ^Cachorrinho sem nome^
11 ^MOMI (Divisão de Controle Animal)^