1 ^Habilidades Ativadas^
2 ^Hab. Desat. para Visitantes^
3 ^Habilidades Desativadas^

4 ^Você só pode alterar o comportamento das habilidades quando seu lote estiver offline!^

5 ^Comportamento de Habilidades no Lote^
6 ^Você pode modificar a forma em como as habilidades funcionam em seu lote. Se você desativar as Habilidades no Lote, os Sims não ganharão pontos de habilidade e nem dinheiro com os objetos. No entanto, suas habilidades também não irão decair, assim permitindo uma forma mais casual de jogar.^
7 ^Este tipo de lote tem as habilidades desativadas por padrão para os visitantes.^

8 ^Ativar Ganho de Habilidades e Dinheiro^
9 ^Desativar Ganho de Habilidades para Visitantes^
10 ^Desativar Ganho de Habilidades para Todos^