1 ^Elevar Terreno^
2 ^Nivelar Terreno^
3 ^Grama^

101 ^Deseja colocar sua jacózzi em um lugar alto? A menos que haja alguma elevação no lote, você precisará desta ferramenta para fazer o trabalho. E não se preocupe, a grama crescerá com o tempo (ou não).

Segure a tecla Shift enquanto modifica o terreno para ter um controle mais preciso sobre a elevação. Segure CTRL para alterar o nível de uma área maior do terreno com precisão. Quando você modificar o terreno, a área alterada ficará com grama morta.^
102 ^Esta ferramenta permite que você nivele o terreno à sua volta. Ela pode ser muito útil, já que a maioria dos objetos de grande porte só podem ser posicionados sobre o terreno plano. E não se preocupe, a grama crescerá com o tempo (ou não).

Segure CTRL para obter um controle mais preciso. Quando você modificar o terreno, a área alterada ficará com grama morta.^
103 ^A grama é sempre mais verde quando você utiliza esta ferramenta. Use-a para colocar ou remover grama de um terreno.

Segure Shift para obter um controle mais preciso sobre o nível da grama. Segure CTRL para removê-la.^