1 ^Classificar por:^
2 ^Amigos^
3 ^Inimigos^
4 ^Quase Amigos^
5 ^Quase Inimigos^
6 ^Colegas de Quarto^

7 ^Amigos %s - Inimigos %s^

8 ^O que esses Sims acham sobre você^
9 ^O que você acha sobre esses Sims^

10 ^Relacionamentos^
11 ^Relacionamentos (%s)^

12 ^Alternar para o que esses Sims acham sobre você^
13 ^Alternar para o que você acha sobre esses Sims^

14 ^Pesquisar:^