1 ^Quantidade de Amigos:

%s Amigos
%s Inimigos

Amizades Web em breve!^
2 ^FreeSO parece ter fechado devido a um erro. Por conta disso, reduzimos todos os gráficos para o mínimo possível. Você pode aumentá-los novamente no menu de configurações gráficas.^