1 ^Escrita^
2 ^Pintura^
3 ^Quadro^
4 ^Geléia^
5 ^Poção^
6 ^Gnomo^
7 ^Piñata^
8 ^Telefone^

9 ^Jornal de %s^
10 ^Objeto bônus de hoje: %s^
11 ^Nenhum objeto bônus hoje.^
12 ^Últimas Notícias^
13 ^Notícias Recentes^

14 ^Primeira Página^
15 ^Pagamentos por Objeto^
16 ^Histórico de Pagamentos^

17 ^Próxima Página^
18 ^Página Anterior^

19 ^Selecione uma notícia abaixo para ler mais detalhes.^
20 ^Carregando...^