1 ^Não há nenhuma carta neste baralho.^
2 ^Excluir Carta^
3 ^Você quer salvar suas alterações?^
4 ^Editar Carta^
5 ^Erro: Este baralho possui cartas (únicas) demais.^
6 ^Erro no servidor. A carta não pôde ser excluída.^
7 ^Ufa! Houve um empate nessa rodada...^
8 ^Empate^
9 ^Ah não! Este jogo é um beco sem saída!^
10 ^Beco sem saída^